html,body{
    height:100%;
}

a{
    color: #FFA500;
}

a:hover{
    color: white;
}

hr{
    padding: 0px;
    margin: 0px;    
}

input{
    background-color:#c5d7d9; 
}

.card-body .form-control{
    background-color:#c5d7d9 !important;
}

.modal-body .form-control{
    background-color:#c5d7d9 !important;
}

#empTable_length{
    padding-top: .755rem; //datatables
}

.small-icon{
    padding: 0.05rem 0.15rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.empDataTable{
    max-width: 1200px;
    margin: 0 auto;
    // overflow-x: auto;
}

#empTable th, td {
    white-space: nowrap;
}

.theme-bg{
    background-color: #008080 !important;
}

.theme-color{
    color: #FFA500 !important;
}

.theme-bg-light{
    background: #66b2b2	!important;
}

.theme-bg-rev{
    background-color: #FFA500 !important;
}

.theme-color-rev{
    color: #008080 !important;
}

.theme-link a{
    color: white !important;
}

.theme-link a:hover{
    color: #FFA500 !important
}

.theme-btn{
    background-color: #008080 !important;
    color: white  !important;
}

.theme-btn:hover{
    background-color: #FFA500 !important;
    color: white !important;
}
.theme-btn-rev{
    background-color: #FFA500 !important;
    color: white !important;
}

.theme-btn-rev:hover{
    background-color: #008080 !important;
    color: white  !important;
}

.dataTables_paginate > .paginate_button{ //NG
    color:white !important;
}

.paginate_button{
    background: none !important;
    background-color: #7dbbb9 !important;
    color: white !important;
}

.dataTables_filter input{
    background-color: #c5d7d9 !important;
}

// .dataTables_scrollBody::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//     background-color: #008080;
//     border-radius: 1px;
// }

// .dataTables_scrollBody::-webkit-scrollbar {
//     width: 1px;
//     background-color: #008080;
// }

// .dataTables_scrollBody::-webkit-scrollbar-thumb {
//     background-color: #FFA500;
//     border-radius: 2px;
// }

.dt-button{
    line-height: 1em !important;
    color: white !important;
    background-image: linear-gradient(#7dbbb9,#7dbbb9) !important;
}

.dt-button:hover{
    color: #008080 !important;
    background-image: linear-gradient(#FFA500,#FFA500) !important;
}