html,body{
    height:100%;
}


#empTable_length{
    padding-top: .755rem; //datatables
}

hr{
    padding: 0px;
    margin: 0px;    
}

.small-icon{
    padding: 0.05rem 0.15rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.empDataTable{
    max-width: 1200px;
    margin: 0 auto;
    // overflow-x: auto;
}

#empTable th, td {
    white-space: nowrap;
}

tr[role=row] {
    background:white;
}